# PEP 518.
include pyproject.toml
# Tests.
recursive-include test *.py
include test/data/index.json
include test/data/prefix.sh
include test/data/prefix.tar
include test/plover_template_system-0.1.0.tar.gz
include test/plover_template_system-0.1.0-py3-none-any.whl
include test/plover_template_system-0.2.0-py3-none-any.whl
include tox.ini
# UI.
exclude plover_plugins_manager/gui_qt/*_rc.py
exclude plover_plugins_manager/gui_qt/*_ui.py
include plover_plugins_manager/gui_qt/*.ui
recursive-include plover_plugins_manager/gui_qt/resources *
